#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp

/.git/
.settings
.idea
/.idea/.name
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/src.iml
/.idea/vcs.xml
/.idea/workspace.xml
